name: Deploy to Cloud Run

env:
  SERVICE_NAME: streamlit-app
  PROJECT_ID: nlu-resume
  GAR_NAME: gcr.io
  DOCKER_IMAGE_URL:  us-docker.pkg.dev/nlu-resume/gcr.io/streamlit-app 
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  dockerize-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Authenticate with Google Cloud
        uses: 'google-github-actions/auth@v2'
        with:
          credentials_json: '${{ secrets.GCP_SA_KEY }}'
          project_id: ${{ env.PROJECT_ID }}

      - name: Set up Cloud SDK
        uses: 'google-github-actions/setup-gcloud@v2'

      - name: Configure Docker
        run: |
          gcloud auth configure-docker us-east1-docker.pkg.dev

      - name: Build and Push Docker Image
        run: |
          # docker build -t ${{ env.DOCKER_IMAGE_URL }}:latest -f Dockerfile .
          # docker push ${{ env.DOCKER_IMAGE_URL }}:latest
          DOCKER_TAG="$${{ env.REGION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.GAR_NAME}}/${{ env.SERVICE_NAME }}:${{ github.sha }}" 
          docker build --tag "${DOCKER_TAG}" .
          docker push "${DOCKER_TAG}"

      - name: Deploy to Cloud Run
        run: |
          echo SERVICE_NAME $SERVICE_NAME
          gcloud run deploy $SERVICE_NAME \
            --image ${{ env.DOCKER_IMAGE_URL }}:latest \
            --platform managed \
            --region us-east1 \
            --allow-unauthenticated
